{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Admin" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
			  <tr>
			    <th>latitude</th>
			    <th>longitude</th>
			  </tr>
			  {% for garbage_location in garbage_points %}
				  <tr>
				    <td> {{ garbage_location.lat }}</td>
				    <td> {{ garbage_location.lon }}</td>
				    <td> {{ garbage_location.pk }}</td>

				  </tr>
			  {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}