{% extends "sni/base.html" %}
{% load bootstrap %}
{% load i18n %}
<!-- template for profile view -->
{% block body %}
	<div class="row">
		<div class="col-md-12" style="text-align: center">
            <h2 style="color: black;text-decoration: underline;">
                CONTRIBUTOR IN CLEAN INDIA MISSION.
            </h2>
        </div>
    </div>
    <div  class="row" style="padding-top: 4%;">
		<div class="col-md-6">
			<img src="/site_media/media/cleanind.png" class="img-responsive">
		</div>
		<div class="col-md-6" style="text-align: center; text-transform: uppercase;">
			<h2>{% trans "username" %} - {{ user }}</h2>
			<h2>{% trans "first name" %} - {{ user.first_name }} </h2>
			<h2>{% trans "last name" %} - {{ user.last_name }}</h2>
		</div>
    </div>
{% endblock %}